### Week 1 Assignment Part1:
<hr>

In [2]:
#Load the Necessary Libraries

import pandas as pd

import numpy as np

In [49]:
# Load the Weather_data Dataset
weather_data = pd.read_csv("../Week1_Assignment_2024/weather_data.csv")

weather_data.head()

,DateTime,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
#View the Last Record 

weather_data.tail()

,DateTime,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### 1. Find all records where the weather was exactly clear?

In [19]:
# Mainly Clear Weather
clear_weather = weather_data[weather_data['Weather'] == 'Mainly Clear']

clear_weather

,DateTime,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
36,1/2/2012 12:00,1.7,-6.2,56,48,24.1,99.21,Mainly Clear
60,1/3/2012 12:00,-14.9,-22.6,52,20,24.1,101.34,Mainly Clear
61,1/3/2012 13:00,-15.1,-22.4,54,22,24.1,101.34,Mainly Clear
62,1/3/2012 14:00,-14.9,-22.9,50,22,24.1,101.38,Mainly Clear
63,1/3/2012 15:00,-14.8,-22.2,53,19,24.1,101.44,Mainly Clear
...,...,...,...,...,...,...,...,...
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8754,12/30/2012 18:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8757,12/30/2012 21:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,12/30/2012 22:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear

#### 2. Find the number of times the wind speed was exactly 4 km/hr.

In [45]:
wind_speed = weather_data[weather_data['Wind Speed_km/h'] =='4']

wind_speed.shape[0]

0

#### 3. Check if there are any NULL values present in the dataset

In [25]:
#Checking for NULL values

weather_data.isnull().sum()

DateTime            0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

#### 4.	Rename the column "Weather" to "Weather_Condition."?

In [26]:
# Renaming Column Weather to Weather_Condition

rename_column = weather_data.rename(columns={'Weather': 'Weather_Condition'})

rename_column

,DateTime,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### 5.	What is the mean visibility of the dataset?

In [35]:
visibility_mean = weather_data['Visibility_km'].mean()

print ('The Visibility mean is:', visibility_mean)

The Visibility mean is: 27.66444672131151

#### 6.	Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

In [43]:
count_record = weather_data[(weather_data['Wind Speed_km/h'] > 24) & (weather_data['Visibility_km'] == '25')]

count_record2 = count_record.shape[0]

count_record2

0

#### 7.	What is the mean value of each column for each weather condition?

In [31]:
mean_value = weather_data.mean()

mean_value

Temp_C                8.798144
Dew Point Temp_C      2.555294
Rel Hum_%            67.431694
Wind Speed_km/h      14.945469
Visibility_km        27.664447
Press_kPa           101.051623
dtype: float64

#### 8.	Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

In [41]:
weather_filtering = weather_data[(weather_data['Weather'] == 'Mainly Clear') & (weather_data['Rel Hum_%'] > 50) | (weather_data['Visibility_km'] > 40)]

weather_filtering

,DateTime,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
36,1/2/2012 12:00,1.7,-6.2,56,48,24.1,99.21,Mainly Clear
60,1/3/2012 12:00,-14.9,-22.6,52,20,24.1,101.34,Mainly Clear
61,1/3/2012 13:00,-15.1,-22.4,54,22,24.1,101.34,Mainly Clear
63,1/3/2012 15:00,-14.8,-22.2,53,19,24.1,101.44,Mainly Clear
64,1/3/2012 16:00,-15.3,-22.9,52,22,24.1,101.51,Mainly Clear
...,...,...,...,...,...,...,...,...
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8754,12/30/2012 18:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8757,12/30/2012 21:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
8758,12/30/2012 22:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear

#### 9.Find the number of weather conditions that include snow

In [50]:
snow_weather = weather_data[weather_data['Weather'] =='Snow']

snow_weather.shape[0]

390

*************************************** End ******************************************

                                    ####Thank you Harun